@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
  .text-brand-gradient {
    background: linear-gradient(135deg, #6566F1, #A456F6, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

body {
  background-color: #030014;
}